<!DOCTYPE html>
<html>

<head>
    <title>Lista de Usuarios</title>
</head>

<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if hasPrevPage}}
    <a href="/api/users?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/api/users?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</body>

</html>